/**
* Created by Administrator on 2015/9/23.
* Created by username on ��С��;
* this is games style;
*/

body,div,section,canvas,p,h1,h2,h3,h4,h5,h6,ul,li{
    margin: 0;
    padding: 0
}
h1,h2,h3,h4,h5,h6{
    font-style: normal;
    font-weight: normal;
    font-size: 0.888rem;
}
button,input{
    background: #fff;
}
a,img,button,input,textarea,span,#l_play,i,div{
    outline: none;
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    -webkit-appearance: none;
    border: none;
    border: 0;
    padding: 0;
    margin: 0;
    /*font-family: "΢���ź�";*/
    -webkit-text-size-adjust:none;
}
html{
    height: 100%;
    font-size: 20px;
}
body{
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    height: 100%;
    color: #848484;
    font-family: Microsoft YaHei,"Helvetica Neue",Helvetica,Arial,sans-serif,SimSun;
    background: white;
    /*overflow: hidden;*/
    /*font-size: 1.4rem;*/
    background: url("images/gameBg.jpg") no-repeat;
    background-size: 100%;
}
@media (min-width: 640px){
    body{
        width: 640px;
        margin: 0 auto;
    }
}
/*�����ǹ�ʽ��ʽ*/

#cardBox{
    font-size: 0;
}
#table1{
    margin: 0 auto;
}
#table2{
    margin: 0 auto;
}
.piece{
    width:2.1rem;
    height:2.1rem;
    display: inline-block;
    position: relative;
    background: url("images/s_pic.png") no-repeat;
    background-size: 500%;
}
.bet{
    width: 2.5rem;
    height:2.5rem;
    display:block;
    cursor:pointer;
    background: url("images/s_pic.png") no-repeat;
    background-size: 500%;
}
._state{
    display: inline-block;
    width: 100%;
    height: 100%;
    /*background:rgba(255, 0, 0, 0.4) none repeat scroll 0 0 !important;*/
}
.b_bar
{
    background-position: 100% 0;
}
.s_bar
{
    background-position: 100% 25%;
}
.bar
{
    background-position: 100% 0;
}
.b_seven
{
    background-position: 50% 50%;
}
.s_seven
{
    background-position: 75% 50%;
}
.seven
{
    background-position: 50% 75%;
}
.b_star
{
    background-position: 0 75%;
}
.s_star
{
    background-position: 25% 75%;
}
.star
{
    background-position: 75% 75%;
}
.b_watermelons
{
    background-position: 0 25%;
}
.s_watermelons
{
    background-position: 25% 25%;
}
.watermelons
{
    background-position: 100% 75%;
}
.b_alarm
{
    background-position: 0 50%;
}
.s_alarm
{
    background-position: 25% 50%;
}
.alarm
{
    background-position: 0% 100%;
}
.b_coconut
{
    background-position: 50% 0;
}
.s_coconut
{
    background-position: 75% 0;
}
.coconut
{
    background-position: 25% 100%;
}
.b_orange
{
    background-position: 50% 25%;
}
.s_orange
{
    background-position: 75% 25%;
}
.orange
{
    background-position: 50% 100%;
}
.b_apple
{
    background-position: 0 0;
}
.s_apple
{
    background-position: 25% 0;
}
.apple
{
    background-position: 75% 100%;
}
.cha
{
    background-position: 100% 50%;
}
.lhj_bet_table td{
    text-align:center;
}

.lhj_input{
    width: 2.2rem;
    height: 1rem;
    font-size: 0.9rem;
    color: #fff;
    text-align:center;
    display: block;
    background: transparent url("images/yazhubg.png") no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    margin-top: 0.2rem;
}

.lhj_money_input
{
    height:1.4rem;
    font-size: 1.2rem;
    margin:0;
    padding:0;
    line-height:1.4rem;
    display:block;
    background-color: #6c0b08;
    color: #fff;
    border: 2px solid #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 0px 2px 5px rgba(0, 0, 0, 0.02);
    box-shadow: inset 0px 0px 2px 5px rgba(0, 0, 0, 0.02);
}
#adv{
    text-align: center;
}
#adv p{
    margin: 0.2rem 0;
    font-size: 0.8rem;
    color: #fff;
}
#adv .info{
    width: 80%;
    margin: 0 auto;
    border: 2px solid #fff;
    padding: 0.4rem;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.lhj_span
{
    font-size:16px;
    display:inline-block;
    text-align:center;
    padding:3px;
    width: 40%;
    margin: 0 3%;
}
.lhj_span .text{
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-size: 1rem;
    /*background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(236, 45, 40, 1)), to(rgba(235, 229, 57, 1)));*/
    background:-webkit-linear-gradient(top,#ec2d28,#ebe539,#ec2d28);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.lhj_bet_table .lhj_bet_input
{
    width:85px;
    height:20px;
    margin:0;
    padding:0;
    line-height:20px;
    font-size:16px;
}

.lhj_bet_btn
{
    display:inline-block;
    cursor:pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}
.lhj_bet_btn1{
    background: url("images/startBtn.png") no-repeat;
    background-size: 100%;
}
.lhj_bet_btn2{
    background: url("images/startBtn1.png") no-repeat;
    background-size: 100%;
}
#smbs,#bigbs{
    font-size: 0.6rem;
    width: 3rem;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    color: #fff;
    margin: 0.1rem 0;
}
#smbs{
    font-size: .8rem;
    background: url("images/1bei.png") no-repeat;
    background-size: 100% 100%;
}
#bigbs{
    background: url("images/10bei.png") no-repeat;
    background-size: 100% 100%;
}
#hr{
    height: 6px;
    margin: 0 auto;
    display: block;
    padding: 0.5rem 0;
}
#hr img{
    display: block;
    margin: 0 auto;
}

/*输入信息的弹窗*/
.mask {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}
.dialog {
    position: fixed;
    z-index: 13;
    width: 85%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #FAFAFC;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}
.dialog .dialog_hd {
    padding: 0 20px .5em;
}
.dialog_title {
    font-weight: 400;
    font-size: 17px;
}
.dialog_bd {
    padding: 0 20px;
    font-size: 15px;
    color: #888;
    word-wrap: break-word;
    word-break: break-all;
}
.dialog .dialog_bd {
    text-align: left;
}
.dialog_ft {
    position: relative;
    line-height: 42px;
    margin-top: 20px;
    font-size: 17px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.dialog_ft:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #D5D5D6;
    color: #D5D5D6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.dialog_ft a {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #3CC51F;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.dialog_ft a {
    position: relative;
}
.info-input {
    border: 1px solid #C7C7C7;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border-radius: 3px;
    margin-bottom:10px;
}

/*排行榜样式*/
#rankPage{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.33);
    font-size: 16px;
    display: none;
}
.rank-list{
    position: absolute;
    top: 60px;
    left: 15px;
    bottom: 60px;
    right: 15px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #A21B17;
    overflow-y: auto;
}
.rank-list .title{
    text-align: center;
    color: #A21B17;
    margin-bottom: 10px;
    position: relative;
}
.rank-list .header{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    color: #FF8300;
}
.rank-list .header div{
    width: 33.333%;
    text-align: center;
}
.rank-list table{
    width: 100%;
}
.rank-list table td{
    height: 30px;
    width: 33.3%;
    text-align: center;
    font-size: 14px;
}
.rank-btn a{
    background: transparent url("images/yazhubg.png") no-repeat;
    background-size: 100% 100%;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
}

#close-rank{
    position: absolute;
    right: 0;
}
#close-rank img{
    width: 25px;
    height: 25px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #A21B17;
}