<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小游戏后台管理</title>
    <link rel="stylesheet" href="/lhj/admin/view/css/style.css"/>
</head>
<body>
<div id="container">
    <div class="toolbar">
        <div class="title">小游戏后台管理</div>
        <a class="logout">退出</a>
    </div>
    <div class="nav-bar">
        <ul class="one-nav">
            <li><a id="index" class="nav active">首页</a></li>
            <li><a id="userList" class="nav">用户列表</a></li>
            <li><a id="logList" class="nav">游戏记录</a></li>
            <li><a id="pwdModify" class="nav">密码修改</a></li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="content">
            <div class="page" id="index_page" style="display: block;">
                这里是首页。
            </div>
            <div class="page" id="userList_page">
                <div class="filter">
                    <div class="filter-row">
                        <div class="key-search">
                            <select class="key-type" id="key_type">
                                <option value="1">用户名</option>
                                <option value="2">手机号</option>
                            </select>
                            <input type="text" class="key-content" id="key_content" />
                            <button class="key-btn" id="key_btn">搜索</button>
                        </div>
                    </div>
                </div>
                <table id="user_list" class="user-list" cellspacing="0" cellpadding="0">
                </table>
                <div id="userPaging" class="page-wrap">

                </div>
            </div>
            <div class="page" id="logList_page">
                <div class="filter">
                    <div class="filter-row">
                        <div class="key-search">
                            <select class="key-type" id="log_key_type">
                                <option value="1">用户名</option>
                                <option value="2">手机号</option>
                            </select>
                            <input type="text" class="key-content" id="log_key_content" />
                            <button class="key-btn" id="log_key_btn">搜索</button>
                        </div>
                    </div>
                </div>
                <table id="log_list" class="user-list" cellspacing="0" cellpadding="0">
                </table>
                <div id="logPaging" class="page-wrap">

                </div>
            </div>
            <div class="page" id="pwdModify_page">
                密码修改
            </div>
        </div>
    </div>
</div>
<script type="application/javascript" src="/lhj/admin/view/js/jquery.min.js"></script>
<script type="application/javascript" src="/lhj/admin/view/js/main.js"></script>
</body>
</html>